* {
  margin: 0;
  padding: 0;
}
body {
  font-family:  'Raleway', 'sans-serif';
  overflow-y: scroll;
  overflow-x: hidden;
}

/*============ generic css ===============*/
.section-title {
  padding-top: 90px;
  padding-bottom: 50px;

}
.section-title h2 {
  position: relative;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-title h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 500;
  width: 60px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -120px;
}

.section-title p {
  color: #333;
  font-size: 19px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}
/*=========================== navigation ========================*/
.navbar-default {
  background-color: transparent;
  border-color: #444;
  z-index: 110;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
  color: #B5B5B5;
  font-family: "Raleway", sans-serif;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover {
color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #B5B5B5;
}
.navbar-brand {
  padding: 9px 15px;
}

.navbar-brand img {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
background-color: transparent;
color: #129CF3;
}
/*=========================== Header ========================*/
.header {
  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.header-overlay {
  background-color: rgba(31, 31, 31, 0.75);
}
.logo {
  padding-bottom: 50px;
}
.header-text h1{
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  text-transform: uppercase;
}
.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
}

.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}
.btn-know,
.btn-know:focus,
.btn-know:active,
.btn-know:visited
{
  background: transparent;
  border-color: #129CF3;
  padding-top:  10px
  padding-bottom: 10px;
  paddding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  text-transform:uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-know:hover {
  background-color: #129CF3;
  color: #fff;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
  color: #A9ADB0;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-tour:hover {
  color: #fff;
}
.btn-tour i {
  font-size: 20px;
  padding-left: 5px;
  color: #129CF3;
}

.header-iphone img {
  width: 100%;
}

/*==============About us===========*/
.join-us-wrapper {
  padding-top: 10%;
}
.about-iphone img {
  margin-top: 8px;
}
.join-us-title {
  padding-bottom: 50px;
}
.join-us-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}


.join-us-title h2:after{
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
}

.join-us-title p {
  margin-top: 40px;
  font-size: 19px;
  line-height: 24px;
}

.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;
}
.choose-us-item div {
  position: absolute;
  top: 0;
  left: 0;
}
.choose-us-item div i {
  font-size: 55px;
  color: #129CF3;
  transition: 1s;
-webkit-transition: 1s;
-moz-transition: 1s;
-o-transition: 1s;
}

.choose-us-item h3 {
  color:#343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
.choose-us-item p {
  color: #727272;
  font-size: 15px;
}

/*============ our team ===========*/
.team {
  background-image: url("../images/our-team.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

.team-overlay {
  background-color: rgba(31, 31, 31, .75);
  padding-top: 80px;
  padding-bottom: 80px;
}
.carousel-indicators {
  bottom: -10px;
}
.carousel-inner .item img {
  border: 2px solid #129CF3;
  border-radius: 50%;
  padding: 3px;
}

.team-caption {
  padding-bottom: 70px;
}

.team-caption h2 {
  color: #129CF3;
  text-transform: uppercase;
  font-weight: 900px;
  font-size: 30px;
  margin-top: 25px;
}

.team-caption h4 {
  color: #129CF3;
}
.team-caption h4 span {
  color: #D8D8D8;
  font-style: italic;
  font-weight: 300;
}

.team-caption p {
  color: #D8D8D8;
  font-size: 18px;
  line-height: 27px;
  padding-top: 50px;
}
/*============== our cores =============*/
.cores-inner-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
}

.left-core-item {
  position: relative;
  padding-right: 90px;
  margin-bottom: 65px;
  text-align: right;
  margin-top: 35px;
}
.left-core-item-icon {
  position: absolute;
  right: 0;
  top: -8px;
  font-size: 40px;
  color: #129CF3;
  width: 90px;
  height: 90px;
  text-align: center;
}
.left-core-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 21px;
  color: #333;
}
.left-core-item p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.core-iphone {
  width: 100%;
}
.right-core-item {
  position: relative;
  padding-left: 90px;
  margin-bottom: 65px;
  margin-top: 35px;
}
.right-core-item-icon {
  position: absolute;
  right: 0;
  top: -8px;
  font-size: 40px;
  color: #129CF3;
  width: 90px;
  height: 90px;
  text-align: center;
}
.right-core-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 21px;
  color: #333;
}
.right-core-item p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

/*============ our blog ====================*/
.our-blog {
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.our-blog p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}
.btn-our-blog,
.btn-our-blog:active,
.btn-our-blog:focus,
.btn-our-blog:visited
{
background-color: #129CF3;
border: 1px solid #129CF3;
color: #fff;
border-radius: 3px;
padding: 15px 35px;
text-transform: uppercase;
transition:  all 1s;
-moztransition:  all 1s;
-o-otransition:  all 1s;

]
}
.our-blog:hover {
  background-color: #1274B1
  border-color: #316B90
}
/*================== counter =============*/
.counter {
  background-image: url("../images/counter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}
.counter-overlay {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, .4);
}
.counter-item i {
  color: #129CF3;
  font-size: 60px;
}

.counter-item h2 {
  font-family: "Source San Pro", sans-serif;
  color: #D7DADB;;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 1px;
}
.counter-item p {
  color: #D7DADB;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Source San Pro", sans-serif;
}


.social-icons {
  padding-top: 50px;
  padding-bottom: 70px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-icons ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
}
.social-icons ul li a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  line-height: 49px;
  color: #9d9d9d;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.social-icons ul li a:hover {
  background-color: #129CF3;
  border: 1px solid #129CF3;
  color: #fff;
}
.social-icons ul li a i {
  font-size: 20px;
}
/*============ footer ================*/
.footer {
  background-color: #1a1a1a;
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 3px; solid #129CF3;
}
#copyright {
  width: 50%;
}

#copyright p {
  color: #8C8B8A;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#copyright p a {
  text-decoration: none;
  color: #129CF3;
}
.scroll-top {
  text-align: right;
}
.scroll-top a {
  background-color: #129CF3;
  padding: 25px;
}

.scroll-top a i {
  color: #fff;
  font-size: 25px;
}


.scroll-top a i {
  color: #fff;
  font-size: 25px;
}









/*================= media quaries =================*/
/*================= small devices =================*/
@media only screen and (max-width: 767px) {
  .navbar-default {
    background-color: #fff !important;
    border-color: #e6e6e6;
  }
  .about-matt img {
    width: 100%;
  }
  .our-blog .col-md-3 {

        text-align: center;
        padding-top: 50px;
    }


}

/*================= small devices and tablets =================*/
@media only screen and (max-width: 775px) {
  .header-iphone {
    display: none;
  }
  .header-text, .header-btns {
    text-align: center;
  }


}


/*================= Medius devices,desktop =================*/
@media only screen and (min-width: 992px) {


}
/*================= large devices, wide screen =================*/
@media only screen and (min-width: 1200px) {


}
